@charset  "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(31, 31, 31);
}

header{
    padding: 1.4rem;
}

header h1{
    text-align: center;
    color: #fff;
}

section{
    font-size: 1.2rem;
    background-color: #fff;
    width: 31rem;
    border-radius: 0.4rem;
    padding: 1rem;
    margin: auto;
    box-shadow: 5px 5px 15px #000000a2;
}

.bar{
    height: 2rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
    border-radius: 3rem;
    border: 1px solid #000;
}

.but{
    width: 12rem;
    height: 2rem;
    border-radius: 3rem;
    border: none;
    background-color: #00f;
    border: 2px solid #00f;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    margin-bottom: 1rem;
}

.but:hover{
    transition-duration: .3s;
    background-color: #fff;
    color: #000;
}

#msg p{
    margin-bottom: 1.4rem;
}



#res img{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin-bottom: 1.4rem;
}

footer p{
    text-align: center;
    margin-top: 1.4rem;
    color: #fff;
}